.settings-container {
    background-color: rgb(109, 110, 110);
    font-family: "Poppins", sans-serif;
}

.card {
    max-width: 400px;
    background-color: #590022;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-light {
    color: #fff !important;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.btn-light {
    color: #fff;
    border: 1px solid #590022;
    background-color: #590022;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btn-light:hover {
    color: #fff;
    background-color: #360514;
    border: 1px solid #590022;
}
  
button.btn-light {
    background-color: #77304b; 
    color: white;
  }